         
            .thumbnail1,
            .thumbnail2 {
                width: 100%;
            }
           
            
            .profile-picture {
                display:inline-block;
                vertical-align: top;
                width: 50px;
            }
            .vedio-info {
                display: inline-block;
                width: 200px;
            }
            .arthur-picture {
                width: 50px;
                border-radius: 50%;
            }
            .vedio-title{
                margin-top: 0;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 4px;
            }
            .thumbnail-row {
                margin-bottom : 12px;
                position: relative;
            }
            .creator {
                font-size: 14px;
                color: #8d4a4f;
                margin-bottom: 4px;
               
            }
            .count {
                font-size: 14px;
                color: #4a7f8d;
                margin-bottom: 4px;
                
            }
            .vedio-info-grid {
                display: grid;
                grid-template-columns: 50px 1fr;
            }
            .vedio-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
            }
            @media (max-width: 1200px) {
                .vedio-grid {
                    grid-template-columns: 1fr 1fr;
                }
            }
            .duration {
                font-family: Roboto, Arial;
                font-size: 12px;
                font-weight: 500;
                padding-left: 2px;
                padding-right: 2px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 2px;
                position: absolute;
                background-color: black;
                color: white;
                position: absolute;
                bottom: 10px;
                right: 5px;

            }
